@font-face {
    font-family: myfont_1;
    src: url(./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);

}
@font-face {
    font-family: myfont_2;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 700px;
    display: flex;
    max-height: 80%;
    overflow: hidden;
    border-radius: 8px;
    /* border: 2px solid black; */
}
.left_box{
   
    width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
   
    
}
.left_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}
.right_box{
    width: 50%;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
}
.content{
 
  width: 70%;
  margin: 40px ;
  /* border: 2px solid black; */
}
.content h3{
    font-family:myfont_2;
    font-size: 15px;
    color: grey;
    font-weight: 500;
    letter-spacing:5px;

}
.content h2{
    font-family: myfont_1;
    font-size: 35px;
    line-height: 1.13;
    margin-top: 10px;
}
.content p{
    font-family: myfont_2;
    font-size: 15px;
    color: grey;
    line-height: 1.5;
    margin-top: 10px;
}
.price{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.price h2{
    color: #3d8168;
}
.price h3{
    text-decoration: line-through;
    color: grey;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
}
button{
   background-color: #3d8168;    
  color: white;                 
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;                 
  align-items: center;           
  justify-content: center;       
  gap: 10px;                     
  cursor: pointer;
  width: 100%;       
  margin-top:20px;
  height: 45px;
}
button img{
    width: 16px;
    height: 16px;
}

@media (max-width: 978px) {
  .container {
    max-width: 700px;
    
  }
}

@media (max-width: 720px) {
  .container {
    width: 90%; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   max-height: none;
   height: auto;
  }
.left_box,
  .right_box {
    margin: 0;
    padding: 0;
    width: 80%;
  }

  .left_box img {
    display: block;
    width: 100%;
     border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  }

  .right_box {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  
  .price {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px; 
  }
}

@media (max-width: 455px) {
  .price {
    flex-wrap: wrap;
  }
  .content h2,
  .content p,
  .price h2{
    word-wrap: break-word;
  }
}
